/DHScreenRecorder/.vs
/DHScreenRecorder/output
/DHScreenRecorder/workspace/DHScreenRecorder/obj
/DHScreenRecorder/workspace/DHScreenRecorder/Assets/ffmpeg/ffmpeg.exe
DHScreenRecorder/workspace/DHScreenRecorder/DHScreenRecorder.csproj.user
